#include "resource.h"
#include "afxres.h"

IDD_NEWSPAPER_PAGE DIALOGEX 0, 0, 276, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Newspaper"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Name:", IDC_STATIC, 7, 14, 50, 8
EDITTEXT        IDC_EDIT_NAME, 57, 12, 100, 14, ES_AUTOHSCROLL
LTEXT           "Topic:", IDC_STATIC, 7, 34, 50, 8
EDITTEXT        IDC_EDIT_TOPIC, 57, 32, 100, 14, ES_AUTOHSCROLL
LTEXT           "Index:", IDC_STATIC, 7, 54, 50, 8
EDITTEXT        IDC_EDIT_INDEX, 57, 52, 100, 14, ES_AUTOHSCROLL
LTEXT           "Editor First Name:", IDC_STATIC, 7, 74, 100, 8
EDITTEXT        IDC_EDIT_EDITOR_FIRSTNAME, 107, 72, 100, 14, ES_AUTOHSCROLL
LTEXT           "Editor Last Name:", IDC_STATIC, 7, 94, 100, 8
EDITTEXT        IDC_EDIT_EDITOR_LASTNAME, 107, 92, 100, 14, ES_AUTOHSCROLL
LTEXT           "Editor Middle Name:", IDC_STATIC, 7, 114, 100, 8
EDITTEXT        IDC_EDIT_EDITOR_MIDDLENAME, 107, 112, 100, 14, ES_AUTOHSCROLL
LTEXT           "Circulation:", IDC_STATIC, 7, 134, 100, 8
EDITTEXT        IDC_EDIT_CIRCULATION, 107, 132, 100, 14, ES_AUTOHSCROLL
LTEXT           "Price:", IDC_STATIC, 7, 154, 50, 8
EDITTEXT        IDC_EDIT_PRICE, 57, 152, 100, 14, ES_AUTOHSCROLL
PUSHBUTTON      "Add Newspaper", IDC_BUTTON_ADD_NEWSPAPER, 170, 150, 100, 14
END

IDD_PRINTINGHOUSE_PAGE DIALOGEX 0, 0, 276, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Printing House"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Name:", IDC_STATIC, 7, 14, 50, 8
EDITTEXT        IDC_EDIT_PH_NAME, 57, 12, 100, 14, ES_AUTOHSCROLL
LTEXT           "Address:", IDC_STATIC, 7, 34, 50, 8
EDITTEXT        IDC_EDIT_PH_ADDRESS, 57, 32, 100, 14, ES_AUTOHSCROLL
LTEXT           "Director First Name:", IDC_STATIC, 7, 54, 100, 8
EDITTEXT        IDC_EDIT_PH_DIRECTOR_FIRSTNAME, 107, 52, 100, 14, ES_AUTOHSCROLL
LTEXT           "Director Last Name:", IDC_STATIC, 7, 74, 100, 8
EDITTEXT        IDC_EDIT_PH_DIRECTOR_LASTNAME, 107, 72, 100, 14, ES_AUTOHSCROLL
LTEXT           "Director Middle Name:", IDC_STATIC, 7, 94, 100, 8
EDITTEXT        IDC_EDIT_PH_DIRECTOR_MIDDLENAME, 107, 92, 100, 14, ES_AUTOHSCROLL
PUSHBUTTON      "Add Printing House", IDC_BUTTON_ADD_PH, 170, 150, 100, 14
END

IDD_POSTOFFICE_PAGE DIALOGEX 0, 0, 276, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Post Office"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Number:", IDC_STATIC, 7, 14, 50, 8
EDITTEXT        IDC_EDIT_PO_NUMBER, 57, 12, 100, 14, ES_AUTOHSCROLL
LTEXT           "Address:", IDC_STATIC, 7, 34, 50, 8
EDITTEXT        IDC_EDIT_PO_ADDRESS, 57, 32, 100, 14, ES_AUTOHSCROLL
LTEXT           "District:", IDC_STATIC, 7, 54, 50, 8
EDITTEXT        IDC_EDIT_PO_DISTRICT, 57, 52, 100, 14, ES_AUTOHSCROLL
PUSHBUTTON      "Add Post Office", IDC_BUTTON_ADD_PO, 170, 150, 100, 14
END

IDD_QUERY_PAGE DIALOGEX 0, 0, 276, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Query"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Query:", IDC_STATIC, 7, 14, 50, 8
EDITTEXT        IDC_EDIT_QUERY, 57, 12, 100, 14, ES_AUTOHSCROLL
LTEXT           "Result:", IDC_STATIC, 7, 34, 50, 8
EDITTEXT        IDC_STATIC_RESULT, 57, 32, 100, 14, ES_AUTOHSCROLL
LTEXT           "Filename:", IDC_STATIC, 7, 54, 50, 8
EDITTEXT        IDC_EDIT_FILENAME, 57, 52, 100, 14, ES_AUTOHSCROLL
PUSHBUTTON      "Query PH", IDC_BUTTON_QUERY_PH, 170, 70, 100, 14
PUSHBUTTON      "Query NP", IDC_BUTTON_QUERY_NP, 170, 90, 100, 14
PUSHBUTTON      "Query Cost", IDC_BUTTON_QUERY_COST, 170, 110, 100, 14
PUSHBUTTON      "Save Results", IDC_BUTTON_SAVE_RESULTS, 170, 130, 100, 14
END

IDD_ABOUT_PAGE DIALOGEX 0, 0, 276, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "About"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Postal Application", IDC_STATIC, 7, 14, 50, 8
LTEXT           "Version 1.0", IDC_STATIC, 7, 34, 50, 8
END
